enter main().

constructing mysingleton...
MyClass1(mycls1): constructing. mysingleton.ins().count()=1
MyClass2(mycls2): constructing. mysingleton.ins().count()=2
in main(): mysingleton::ins().count()=2

leave main().
destroying mysingleton...