constructing mysingleton...
MyClass1(g_mycls1): constructing. mysingleton.ins().count()=1
MyClass2(g_mycls2): constructing. mysingleton.ins().count()=2
enter main().

MyClass1(mycls1): constructing. mysingleton.ins().count()=3
MyClass2(mycls2): constructing. mysingleton.ins().count()=4
in main(): mysingleton::ins().count()=4

leave main().
destroying mysingleton...